@import './palette';

.registration {
  display: flex;
  height: 100vh;
  font-family: 'Roboto';

  .left {
    width: 50%;
    display: flex;
    justify-content: center;

    .error {
      color: $color1;
      margin-top: 15px;
    }
  }

  .right {
    position: relative;
    background-image: url("../assets/registration-background.png");
    background-size: cover;
    background-position: top center;
    width: 50%;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 77px;

    h1 {
      text-align: center;
      margin-bottom: 64px;
    }

    .gender {
      display: flex;
      margin-bottom: 64px;
      justify-content: center;

      .selected {
        opacity: 1;
      }
      
      div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 156px;
        height: 200px;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgb(62 42 90 / 10%);
        opacity: .6;

        &::before {
          content: "";
          display: block;
          width: 159px;
          height: 173px;
          background-size: cover;
        }
      }
        .female {
          margin-right: 15px;

          &::before {
            background-image: url("../assets/female.png");
          }

          span {
            position: absolute;
            bottom: 19px;
          }
        }

        .male {
          margin-right: 15px;

          &::before {
            background-image: url("../assets/male.png");
          }

          span {
            position: absolute;
            bottom: 19px;
          }
        }
      }
    .inputRow {
      width: 461px;
      display: flex;
      justify-content: space-between;
      color: #fff;
      padding-top: 23px;
      padding-bottom: 21px;
      border-bottom: 1px solid rgba(29,37,60,.1);
    }

    label {
      color: #1d253c;
      font-weight: 300;
    }

    Input {
      font-size: 16px;
      font-weight: 500;
      color: #1d253c;
      background-color: initial;
      border-color: transparent;
      outline: transparent;
      text-align: right;
      width: 250px;
    }

    .controls {
      display: flex;
      justify-content: center;
    }

    .clearData {
      background-color: #c82652;
      color: #fff;
      border-color: transparent;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 500;
      padding: 15px 23px;
      letter-spacing: .5px;
      outline: transparent;
    }

    button {
      background-color: #26c8a8;
      color: #fff;
      border-color: transparent;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 500;
      padding: 15px 23px;
      letter-spacing: .5px;
      width: max-content;
      margin-top: 31px;
      outline: transparent;
    }

    button:not(:last-child) {
      margin-right: 30px;
    }

    button:disabled {
      opacity: 0.3;
    }
  }
}
