@import './palette';

.item {
  display: flex;
  min-height: 100vh;
  font-family: "Roboto";
  
  .wrap {
    width: 100%;
  }

  .profile_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
    margin-top: 30px;
    height: 100px;
  }
  
  .sidebar {
    position: relative;
    max-width: 499px;
    min-width: 400px;
    min-height: 100%;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.female {
      background-image: url('../assets/woman.png');
    }

    &.male {
      background-image: url('../assets/man.png');
    }
  }

  .homeLink {
    display: flex;
    text-decoration: none;
    color: #1d253c;
    align-items: center;
    height: 50px;
  }

  .homeLink:hover {
    text-decoration: underline;
  }
  .homeLink::before {
    content: "";
    display: block;
    width: 10px;
    height: 17px;
    background-image: url("../assets/arrow.png");
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  .user_avatar {
    display: flex;

    .user_female {
      background-image: url("../assets/female.png");
      display: block;
      width: 72px;
      height: 68px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      margin-left: 10px
    }

    .user_male {
      background-image: url("../assets/male.png");
      display: block;
      width: 72px;
      height: 68px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      margin-left: 10px
    }
  }

 .user_column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .user_name {
      font-size: 24px;
      font-weight: 500;
      color: #3f7ce1;
      margin-bottom: 10px;
      text-decoration: none;
    }

    .user_name:hover {
      text-decoration: underline;
    }

    .user_logout {
      font-size: 16px;
      font-weight: 500;
      text-decoration: underline;
      color: #7e7e7e;
      background-color: initial;
      border: transparent;
      display: inline;
    }

   

    .user_logout:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    width: 100%;
    justify-content: center;

    .question {
      width: 680px;
      margin-left: 89px;
      margin-right: 159px;
      margin-top: 77px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 77px;

      h1 {
        text-align: center;
        margin-bottom: 64px;
      }

      .gender {
        display: flex;
        margin-bottom: 64px;
    
        > div {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 156px;
          height: 200px;
          border-radius: 8px;
          box-shadow: 0 8px 16px 0 $color6;
          opacity: 0.6;
    
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
    
          &::before {
            content: '';
            display: block;
            width: 159px;
            height: 173px;
            background-size: cover;
          }
    
          &.female {
            margin-right: 15px;
    
            &::before {
              background-image: url("../assets/female.png");
            }
          }
    
          &.male {
            &::before {
              background-image: url("../assets/male.png");
            }
          }
    
          span {
            position: absolute;
            bottom: 19px;
          }
    
          &.selected {
            opacity: 1;
    
            &:hover {
              cursor: initial;
            }
          }
        }
    }
  
  }
}

  .inputRow {
    width: 461px;
    display: flex;
    justify-content: space-between;
    color: $color1;
    padding-top: 23px;
    padding-bottom: 21px;
    border-bottom: 1px solid $color5;

    label {
      color: $color4;
      font-weight: 300;
    }

    input {
      font-size: 16px;
      font-weight: 500;
      color: $color4;
      background-color: transparent;
      border-color: transparent;
      outline: transparent;
      text-align: right;
      width: 250px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        font-weight: 400;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: center;

    button {
      background-color: $color2;
      color: $color1;
      border-color: transparent;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 500;
      padding: 15px 23px;
      letter-spacing: 0.5px;
      width: max-content;
      margin-top: 31px;
      outline: transparent;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        cursor: pointer;
        background-color: $color3;
      }

      &:disabled {
        opacity: 0.3;

        &:hover {
          cursor: initial;
          background-color: $color2;
          color: $color1;
        }
      }

      &.clearData {
        background-color: $color7;
        color: $color1;
        border-color: transparent;
        border-radius: 24px;
        font-size: 14px;
        font-weight: 500;
        padding: 15px 23px;
        letter-spacing: 0.5px;
        outline: transparent;

        &:hover {
          cursor: pointer;
          background-color: $color8;
        }

        &:disabled {
          opacity: 0.3;

          &:hover {
            cursor: initial;
            background-color: $color7;
            color: $color1;
          }
        }
      }
    }
  }

  .clearAllRecords {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: $color7;
    color: $color1;
    border-color: transparent;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 23px;
    letter-spacing: 0.5px;
    outline: transparent;

    &:hover {
      cursor: pointer;
      background-color: $color8;
    }

    &:disabled {
      opacity: 0.3;

      &:hover {
        cursor: initial;
        background-color: $color7;
        color: $color1;
      }
    }
  }
}