@import './palette';

.item {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto';
  
  .wrap {
    width: 100%;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 0 30px;
    margin-top: 30px;
    height: 100px;
  }
  
  .sidebar {
    position: relative;
    max-width: 499px;
    min-width: 400px;
    min-height: 100%;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.female {
      background-image: url('../assets/woman.png');
    }

    &.male {
      background-image: url('../assets/man.png');
    }
  }
  
  .homeLink {
    display: flex;
    text-decoration: none;
    color: #1d253c;
    align-items: center;
    height: 50px;
  }

  .homeLink:hover {
    text-decoration: underline;
  }
  .homeLink::before {
    content: "";
    display: block;
    width: 10px;
    height: 17px;
    background-image: url("../assets/arrow.png");
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  .user_avatar {
    display: flex;

    .user_female {
      background-image: url("../assets/female.png");
      display: block;
      width: 72px;
      height: 68px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      margin-left: 10px
    }

    .user_male {
      background-image: url("../assets/male.png");
      display: block;
      width: 72px;
      height: 68px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      margin-left: 10px
    }
  }

 .user_column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .user_name {
      font-size: 24px;
      font-weight: 500;
      color: #3f7ce1;
      margin-bottom: 10px;
      text-decoration: none;
    }

    .user_name:hover {
      text-decoration: underline;
    }

    .user_logout {
      font-size: 16px;
      font-weight: 500;
      text-decoration: underline;
      color: #7e7e7e;
      background-color: initial;
      border: transparent;
      display: inline;
    }

   

    .user_logout:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}


    .content {
      display: flex;
      width: 100%;

      &.center {
        justify-content: center;
      }

      .dashboard {
        align-self: flex-start;
        display: flex;
        margin-top: 77px;

        .navigation {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 744px;
          margin-left: 89px;
          margin-right: 159px;
      
          h1 {
            font-size: 33px;
            font-weight: 700;
            color: $color4;
          }
        }
      }

      .widget {
        margin-top: 77px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          text-transform: uppercase;
          color: $color5;
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 4px;
          margin-bottom: 50px;
        }

        .module {
          position: relative;
          height: 612px;

          .score {
            background-color: $color4;
            color: $color2;
            font-weight: 500;
            font-size: 24px;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -90px;
            transform: translateY(50%);
          }

          .progress {
            position: relative;
            background-color: $color6;
            width: 56px;
            height: 100%;
            border-radius: 28px;
            overflow: hidden;

            .fill {
              position: absolute;
              bottom: 0;
              background-color: $color4;
              width: 100%;
            }
          }

          .label {
            display: flex;
            align-items: center;
            position: absolute;
            width: 150px;
            left: 70px;
            text-transform: uppercase;
            color: $color3;
            font-size: 12px;
            font-weight: 500;

            &::before {
              content: '';
              display: block;
              width: 50px;
              height: 2px;
              background-color: $color7;
              margin-right: 14px;
            }

            &.level1 {
              bottom: 5%;
            }

            &.level2 {
              bottom: 38%;
            }

            &.level3 {
              bottom: 66%;
            }

            &.level4 {
              bottom: 80%;
            }

            &.level5 {
              bottom: 95%;
            }
          }
        }
      }
    }
  

